<body class="smoothscroll enable-animation" style="background-color: lightgray;">
	<style>
		h1,
		h2,
		div,
		h3 {
			font-family: Roboto
		}
	</style>


	<section id="top" style="background-image: url('/assets/AdobeStock_162479912.jpeg'); text-align:center">

		<h2 style=" font-size: 50px; ">Log in</h2>

		<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
		<div class="field">
			<%= f.label :email %><br />
			<%= f.email_field :email, autofocus: true, autocomplete: "email" %>
		</div>

		<div class="field">
			<%= f.label :password %><br />
			<%= f.password_field :password, autocomplete: "current-password" %>
		</div>

		<% if devise_mapping.rememberable? %>
		<div class="field">
			<%= f.check_box :remember_me %>
			<%= f.label :remember_me %>
		</div>
		<% end %>

		<br>
		<div class="actions">
			<%= f.submit "Log in" %>
		</div>
		<% end %>

		<%= render "employees/shared/links" %>
	</section>

            <!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-6">

							<h3 class="letter-spacing-1">WHY US?</h3>

							<!-- Small Description -->
							<p>
							We are the best on the market, based on our customer feedback!
							</p>
						</div>
						<!-- /col #1 -->

						<!-- col #2 -->
						<div class="col-md-6">
							<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>

							<!-- Newsletter Form -->
							<p>Subscribe to Our Newsletter</p>

							<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!" data-toastr-position="bottom-right">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
									<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Subscribe</button>
									</span>
								</div>
							</form>
							<!-- /Newsletter Form -->
						</div>				
						<!-- /col #2 -->
					</div>

				</div>

				<div class="copyright">
					<div class="container">
						<ul class="float-right m-0 list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>&bull;</li>
							<li><a href="#">Privacy</a></li>
						</ul>
						&copy; All Rights Reserved, Rocket Elevators @2020
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->
		<div id="preloader">
			<div class="inner">
				<span class="loader"></span>
			</div>
		</div><!-- /PRELOADER -->
</body>